.pic {
  padding: 3px;
  width: 15%;
}

.pic img {
  margin: 4px;
  height: 1.5rem;
  object-fit: cover;
  width: 1.5rem;
}
.details {
  width: 85%;
}
.details div {
  margin-left: 0.5rem;
  background-color: aqua;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}
.details h5 {
  display: flex;
}

.main {
  margin-top: 5px;
  position: inherit;
  display: flex;
  border-bottom: 1px solid #e2e2eb;
  width: 100%;
}

.main p {
  font-size: 0.7rem;
}
