.mainbuttons {
  display: flex;
  flex-wrap: wrap;
}
.style {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 20.5vh;
  width: 46%;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 5px red;
  margin: 2%;
  border-radius: 1rem;
}

.icon {
  padding: 0px;
  margin: 0px;
}
.style:hover {
  cursor: pointer;
}
.icons {
  color: rgb(17, 153, 17);
}
.iconsp {
  color: gold;
}
