.container {
  display: flex;
  color: white;
}
.profile {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: rgb(10, 1, 19);
}
.actived {
  color: green;
  background-color: white;
}
.profile button {
  display: block;
  color: white;
  width: 100%;
  height: 2.5rem;
  background-color: rgb(46, 17, 75);
}
.profile button div {
  margin-left: 90%;
  margin-top: -1.4rem;
  color: black;
  background-color: aqua;
  border-radius: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
.mails {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: rgb(13, 9, 20);
}
.mail {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: rgba(9, 2, 12, 0.637);
}
